<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Accueil</div>
        </div>
<!--        <ol class="breadcrumb page-breadcrumb pull-right">-->
<!--          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"-->
<!--                                                 href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>-->
<!--          </li>-->
<!--          <li class="active">Widgets</li>-->
<!--        </ol>-->
      </div>
    </div>

<div class="row align-center" style="padding-left:250px">
  <div class="col-lg-3 col-md-6 col-12 col-sm-6">
    <div class="blogThumb">
      <div class="thumb-center"><img class="img-responsive" alt="user"
                                     src="assets/img/dessin.jpg"></div>
      <div class="white-box">
<!--        <div class="text-muted"><span class="m-r-10">June 16</span>-->
<!--          <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i> 56</a>-->
<!--        </div>-->

        <p> Demandes Recentes </p>
        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20" routerLink="/user-demandes/new-demande">Details</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12 col-sm-6">
    <div class="blogThumb">
      <div class="thumb-center"><img class="img-responsive" alt="user"
                                     src="assets/img/dessin.jpg"></div>
      <div class="white-box">
<!--        <div class="text-muted"><span class="m-r-10">June 16</span>-->
<!--          <a class="text-muted m-l-10" href="#"><i class="fa fa-heart-o"></i> 56</a>-->
<!--        </div>-->

        <p> Activités en Cours </p>
        <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20" routerLink="/user-demandes/new-demande">Details</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
