<!-- start page content -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Dashboard</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                 href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <!-- start widget -->
    <div class="state-overview" >
      <div class="row">
        <div class="col-xl-3 col-md-6 col-12" *ngIf="isRH()">
          <div class="info-box bg-b-green">
            <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Reclamtions</span>
              <span class="info-box-number">{{reclamtions.length}}</span>
              <div class="progress">
                <div class="progress-bar" style="width: 45%"></div>
              </div>
            
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12" *ngIf="isIT()">
          <div class="info-box bg-b-yellow">
            <span class="info-box-icon push-bottom"><i class="material-icons">person</i></span>
            <div class="info-box-content">
              <span class="info-box-text"> Total Demandes Actifs </span>
              <span class="info-box-number">{{demandes_actifs.length}}</span><!-- tebe3 service it -->
              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
            
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12" *ngIf="isIT()">
          <div class="info-box bg-b-blue">
            <span class="info-box-icon push-bottom"><i class="material-icons">school</i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Demandes IT</span> 
              <!-- tebe3 demande it -->
              <span class="info-box-number"> {{demandes_it.length}} </span>
              <div class="progress">
                <div class="progress-bar" style="width: 85%"></div>
              </div>
         
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12" *ngIf="isRH()">
          <div class="info-box bg-b-pink">
									<span class="info-box-icon push-bottom"><i
                    class="material-icons">monetization_on</i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Demandes Attestation </span>
              <span class="info-box-number"> {{demande_attestations.length}} </span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
         
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- end widget -->

  </div>
</div>
<!-- end page content -->
