<!-- start page content -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Affecter un gestionnaire à des établissements</div>
        </div>


<!--                <ol class="breadcrumb page-breadcrumb pull-right">-->
<!--                  <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"-->
<!--                                                         href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>-->
<!--                  </li>-->
<!--                  <li><a class="parent-item" href="#">Library</a>&nbsp;<i class="fa fa-angle-right"></i>-->
<!--                  </li>-->
<!--                  <li class="active">Add Library Assets</li>-->
<!--                </ol>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

        <div class="card-box">

                    <div class="card-head">
          <!--&lt;!&ndash;            <header>Add Library Assets</header>&ndash;&gt;-->
          <!--            <button id="panel-button"-->
          <!--                    class="mdl-button mdl-js-button mdl-button&#45;&#45;icon pull-right"-->
          <!--                    data-upgraded=",MaterialButton">-->
          <!--              <i class="material-icons">more_vert</i>-->
          <!--            </button>-->
          <!--            <ul class="mdl-menu mdl-menu&#45;&#45;bottom-right mdl-js-menu mdl-js-ripple-effect"-->
          <!--                data-mdl-for="panel-button">-->
          <!--              <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action-->
          <!--              </li>-->
          <!--              <li class="mdl-menu__item"><i class="material-icons">print</i>Another action-->
          <!--              </li>-->
          <!--              <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else-->
          <!--                here</li>-->
          <!--            </ul>-->

                      <form class="search-form-opened" action="#" method="GET">

                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search..." name="query">
                          <span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
                        </div>
                      </form>

                    </div>
          <div class="card-body row">
          <form action="" class="row" [formGroup]="form" (ngSubmit)="AffecterGestionnaire()">
            
            <div class="d-flex">
              <div class="col-lg-12 p-t-20">
                <label> Etablissements disponibles</label>
                <select  class="form-control">
                  <option class="mdl-menu__item" data-val="DE"> etabblissement 01</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 02</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 03</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 04</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 05</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 06</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 07</option>
                </select>
              </div>
              <div class="col-lg-12 p-t-20">
  
  
                <label>Etablissement affecté</label>
                <select class="form-control">
                  <option class="mdl-menu__item" data-val="DE">etabblissement 06</option>
                  <option class="mdl-menu__item" data-val="BY">etabblissement 05</option>
                </select>
              </div>
            </div>


            <div class="col-lg-12 p-t-20 text-center">
              <button type="button"
                      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">
                Valider
              </button>
              <button type="button"
                      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Annuler
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page content -->
