
<div class="page-content-wrapper " style="background-color: white;">
    <div class="page-content">
      <div class="page-bar">
        <div class="page-title-breadcrumb">
          <div class=" pull-left">
            <div class="page-title"> Création  nouvelle demande</div>
          </div>
        </div>
      </div>
  
  <div class="text-center align-center mt-5 card pt-5">
    <h4  style="color:rgb(77, 59, 241);text-decoration: underline;" routerLink="/user-demandes/new-demande">
         Demande d'attribution d'accès aux systèmes d’informations </h4>
    <h4  style="color:rgb(77, 59, 241);text-decoration: underline;" routerLink="/user-demandes/reevocation-demande-it"> Demande de révocation d'accès aux systèmes d’informations </h4>
    <h4  style="color:rgb(77, 59, 241);text-decoration: underline;" routerLink="/user-demandes/new-demande-actif"> Demande d'actif IT </h4>
  </div>
  </div>
  </div>
  