<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Professors List</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                 href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li><a class="parent-item" href="#">Borderau</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li class="active">Professors List</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">


          <div class="tab-content">
            <div class="tab-pane active fontawesome-demo" id="tab1">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>Détail de sous bordereaux</header>
                      <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh"
                           href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down"
                           href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times"
                           href="javascript:;"></a>
                      </div>
                    </div>
                    <div class="card-body ">
                      <div class="row">

                        <div class="col-md-6 col-sm-6 col-6">
                          <div class="btn-group pull-right">

                            <ul class="dropdown-menu pull-right">
                              <li>
                                <a href="javascript:;">
                                  <i class="fa fa-print"></i> Print </a>
                              </li>
                              <li>
                                <a href="javascript:;">
                                  <i class="fa fa-file-pdf-o"></i> Save as
                                  PDF </a>
                              </li>
                              <li>
                                <a href="javascript:;">
                                  <i class="fa fa-file-excel-o"></i>
                                  Export to Excel </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="table-scrollable">
                        <table
                          class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                          id="example4">
                          <thead>
                          <tr>
                            <th></th>
                            <th>Réference</th>
                            <th>Etablissement</th>
                            <th>Date de validation </th>
                            <th>Réference Global</th>
                            <th>Equipe</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="odd gradeX">
                            <td><input type="checkbox"></td>
                            <td >2013-006-11-0001-103</td>
                            <td>Super Centre Dorra</td>
                            <td>01/04/2012</td>
                            <td>2013-006-99-002</td>
                            <td> Social</td>
                          </tr>

                          <tr class="odd gradeX">
                            <td><input type="checkbox"></td>
                            <td>2016-006-11-0001-103</td>
                            <td>Super Centre Dorra</td>
                            <td>01/04/2012</td>
                            <td>2013-006-99-002</td>
                            <td> Social</td>
                          </tr>

                          <tr class="odd gradeX">
                            <td><input type="checkbox"></td>
                            <td>2004-006-11-0001-103</td>
                            <td>Super Centre Dorra</td>
                            <td>01/04/2012</td>
                            <td>2013-006-99-002</td>
                            <td> Social</td>
                          </tr>


                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof10.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Pooja Patel </div>
                          <div class="name-center"> Mathematics </div>
                        </div>
                        <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof1.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Rajesh </div>
                          <div class="name-center"> Science </div>
                        </div>
                        <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                        </p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof2.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Sarah Smith </div>
                          <div class="name-center"> Computer </div>
                        </div>
                        <p>456, Estern evenue, Courtage area, <br />New York</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof3.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">John Deo </div>
                          <div class="name-center"> Engineering </div>
                        </div>
                        <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof4.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Jay Soni </div>
                          <div class="name-center"> Music </div>
                        </div>
                        <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                        </p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof5.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Jacob Ryan </div>
                          <div class="name-center"> Commerce </div>
                        </div>
                        <p>456, Estern evenue, Courtage area, <br />New York</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof6.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Megha Trivedi </div>
                          <div class="name-center"> Mechanical </div>
                        </div>
                        <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof1.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Rajesh </div>
                          <div class="name-center"> Science </div>
                        </div>
                        <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                        </p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof2.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Sarah Smith </div>
                          <div class="name-center"> Computer </div>
                        </div>
                        <p>456, Estern evenue, Courtage area, <br />New York</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof10.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Pooja Patel </div>
                          <div class="name-center"> Mathematics </div>
                        </div>
                        <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof1.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">Rajesh </div>
                          <div class="name-center"> Science </div>
                        </div>
                        <p>45, Krishna Tower, Near Bus Stop, Satellite, <br />Mumbai
                        </p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-box">
                    <div class="card-body no-padding ">
                      <div class="doctor-profile">
                        <img src="../assets/img/prof/prof3.jpg" class="doctor-pic"
                             alt="">
                        <div class="profile-usertitle">
                          <div class="doctor-name">John Deo </div>
                          <div class="name-center"> Engineering </div>
                        </div>
                        <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p>
                        <div>
                          <p><i class="fa fa-phone"></i><a
                            href="tel:(123)456-7890"> (123)456-7890</a></p>
                        </div>
                        <div class="profile-userbuttons">
                          <a href="professor_profile.html"
                             class="btn btn-circle deepPink-bgcolor btn-sm">Read
                            More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
